# Exemplo de configuração para variáveis de ambiente
DATABASE_URL=postgresql://usuario:senha@localhost:5432/nome_db
JWT_SECRET=sua_chave_secreta
APP_URL=http://localhost:3000
MAIL_FROM=no-reply@projeto.com
SMTP_HOST=smtp.seuprovedor.com
SMTP_PORT=587
SMTP_USER=usuario_smtp
SMTP_PASS=senha_smtp
